{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="{% static "js/htmx.min.js" %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <title>
        {% block title %}Personal Finance Tracker{% endblock title %}
    </title>
    <style>
        ::selection {
            background-color: #22c55e; /* Change to your desired color */
            color: black; /* Change text color */
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}
    <div class="container mx-auto max-w-screen-lg p-4">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>